{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
      {% include "../_nav.html" %}
      </div>
    <div class="col-sm-9">
      <h2>{{ user.username }}</h2>
      <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
</div>
{% endblock %}
